nav
  ul
    li 
      a(href="#manager") 博客主页
div#manager-container
  div#manager-posts-container
    ul.manager-posts-list
      li(ng-repeat="postData in postsData")
        div.manager-post-container(ng-click="enterPostDetail(postData)")
          h1.post-title {{postData.title}}
          p.post-content {{postData.content}}
          div#post-bottom-container
            span.post-owner-name {{postData.ownerName}}
            span.post-last-modified {{postData.lastModified | date:"MM/dd/yyyy 'at' h:mma"}}
